.maincv{
 width: 100%;
 background-color: white;

}
.cv{
    background-color: rgba(47, 47, 255, 0.832);
    color: white;
    border-radius: 50px;
    height: 500px;
    width: 80%;
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload{
    width: 40%;
    
}
.upload Button{
    border: none;
    background-color: white;
    color: black;
}
@media only screen and (max-width: 768px) {
    .cv{
      height: 700px;
    }
    .upload{
        margin: auto;
    }
  }
@media only screen and (max-width: 480px) {
    .cv{
        height: 600px;
    }
    .upload{
        width: 100%;
        padding: 5px;
        text-align: center;
    }
 }