.maincv{
 width: 100%;

}
.cv{
    background-color: rgb(35, 35, 155);
    color: white;
    border-radius: 50px;
    height: 500px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items:flex-start;
    align-items: center;
}
.upload{
    width: 50%;
    
}
.upload Button{
    border: none;
    background-color: white;
    color: black;
}
@media only screen and (max-width: 768px) {
    .cv{
      height: 700px;
    }
    .upload{
        margin: auto;
    }
  }
@media only screen and (max-width: 480px) {
    .cv{
        height: 800px;
    }
 }