
.navcontainer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 8vw ;
    background-color: rgb(255, 255, 255);
   
    
}

.navmenu{
    color:rgb(0, 0, 0);
    list-style: none;
    align-items: center;
    text-align: center;
    display: flex;
    position: sticky;
}
.navlink {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 1rem;
}
.navlink a{
    text-decoration: none;
    color: black;
}

.navlink a:hover{
    color: white;
    background-color: blue;
}
@media only screen and (max-width: 480px) {
    .navbar, .navcontainer {
      display: none;
    }
  }