.feature{
    background-color: white;
    height: auto;
    padding-top: 50px;
}
.feature h1{
    text-align: center; 
}
.feature h1 span{
    color: blue;
}
.featured{
    margin: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items:flex-start;
}
.job{
    width: 23%;
    border: 2px solid rgba(4, 4, 134, 0.26);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    /* background-color:#FAFAFB; */
}
.job:hover{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(11, 49, 238, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.job:hover .apply Button{
 background-color: blue;
 color: white;
}
.job small{
    color:rgba(0, 0, 0, 0.507) ;
    font-weight: 400;
}
.apply{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.apply Button{
    background-color: rgba(0, 0, 255, 0.1);
    border: none;
    color:rgb(93, 93, 246);
    width: 50%;
}
.type{
    font-size: 18px;
    font-weight: 600px;
    color: rgba(0, 0, 0, 0.392);
}
.descr{
    color:grey;
    line-height: 20px;
}
.job h5{
    font-size: 30px;
}
.but{
    margin: auto;
    width: fit-content;
}
.but Button{
    color: black;
    background-color: rgba(45, 13, 202, 0);
}

@media only screen and (max-width: 1000px) {
  
    .job{
        width: 44% !important; 
    }
    .but{
        width:20%;
    }
  }
  @media only screen and (max-width: 1300px) {
  
    .job{
        width: 30%;
    }
    .but{
        width:fit-content;
    }
  }
  @media only screen and (max-width: 480px) {
    .job{
        width:100%;
    }
    .but{
       width: 40%;
    }
    .imagewrap img{
        width: 100%;
    }
 }