.feature{
    background-color: white;
    height: 750px;
    
    padding-top: 50px;
}
.feature h1{
    text-align: center; 
}
.feature h1 span{
    color: blue;
}
.featured{
    margin: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items:flex-start;
}
.job{
    width: 23%;
    border: solid rgba(0, 0, 0, 0.168) 1px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.job:hover{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.job label{
    display: block;
    width: 100%;
    margin: auto;
}
.job label Button{
    background-color: rgb(222, 222, 222);
    border: none;
    color:rgb(93, 93, 246);
}
.type{
    font-size: 14px;
}
.descr{
    color:grey;
    line-height: 20px;
}
.but{
    margin: auto;
    width: 10%;
}
.but Button{
    color: black;
    background-color: rgba(240, 248, 255, 0);
}

@media only screen and (max-width: 768px) {
    .feature{
        height: 1300px;
    }
    .job{
        width: 43%;
    }
    .but{
        width:20%;
    }
  }
  @media only screen and (max-width: 480px) {
    .feature{
        height:2400px;

    }
    .job{
        width:100%;
    }
    .but{
       width: 40%;
    }
    .imagewrap img{
        width: 100%;
    }
 }