
.main{
    width: 100%;
    justify-content: center;
    position: sticky;
}
.search{
    background-color: inherit;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: sticky;
}
.filter{
    color:aliceblue;
    list-style: none;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
    width: inherit;
    justify-content: center;
}
.lists input {
    height: 38px;
    /* margin: 1px; */
    border: none;
     width: 90%;
}
.lists{
    color:blue;
    background-color: white;
    border-left: 2px solid;
    /* padding-left: 20px;; */
    display: flex;
    align-items: center;
    width: 20%;
    
}
.lists svg{
    width:10%;
}
.first{
    border-radius: 5px;
}
