.wrapper{
    height: 700px;
    text-align: center;
}

.wrapper h1 {
    padding-top: 50px;;
    font-weight: 700;
    font-size: 30px;
}
.wrapper h1 span{
    color: blue;
}
.cardwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items:flex-start;
    padding: 10px;
}
.cards {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 23%;
    padding: 10px;
    margin: 10px;

}
.cards img{
    height: 50%;
    width: 50%;
}
.cards:hover{
    background-color: blue;
    color: white;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        height: 800px;;
    }
    .cards{
      width: 43%;
    }
  }