.navbar{
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0%;
    @media screen and (max-width: 960px) {
        transition: 0.8s all ease;
      }
}
.navcontainer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    width: 100%;
    max-width: 100%;
    padding: 0 24px;
    
}

.navmenu{
    color:rgb(0, 0, 0);
    list-style: none;
    align-items: center;
    text-align: center;
    display: flex;
}
.navlink{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 1rem;
}

